spring:
  threads:
    virtual:
      enabled: true  # 开启虚拟线程
  datasource:
    url: jdbc:mysql://localhost:3306/text_to_sql?useSSL=false&serverTimezone=UTC&remarks=true&useInformationSchema=true
    username: root
    password:
    driver-class-name: com.mysql.cj.jdbc.Driver
    hikari:
      maximum-pool-size: 20